<div class="docs-nav-sidebar">

    <div class="menu-list docs-nav">
        <nav class="navbar navbar-expand-lg navbar-light">


            <div class="collapse navbar-collapse" id="navbarNav">
                 <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-times"></i>
                </button>
                <ul class="navbar-nav flex-column" id="sidebarnav">
                    <li class="navbar-header">
                        <h5 class="heading">Getting Started</h5>
                      </li>

                                <li class="nav-item"><a href="index.html" class="nav-link">Introduction</a></li>
                                <li class="nav-item"><a href="gulp.html" class="nav-link">Gulp</a></li>
                                <li class="nav-item"><a href="filestructure.html" class="nav-link">File
                                        Structures</a></li>
                                <li class="nav-item"><a href="changelog.html" class="nav-link">Changelog</a>
                                </li>
                                <li>
                                    <div class="navbar-border"></div>
                                  </li>
                                  <li class="navbar-header mt-0">
                                    <h5 class="heading">Snippet</h5>
                                  </li>

                                <li class="nav-item"><a href="snippet-overview.html" class="nav-link">Overview</a></li>
                                <li class="nav-item"><a href="snippet-header.html" class="nav-link">Header</a></li>
                                <li class="nav-item"><a href="snippet-hero.html" class="nav-link ">Hero</a></li>
                                <li class="nav-item"><a href="snippet-pageheader.html" class="nav-link">Pageheader</a>
                                    <li class="nav-item"><a href="snippet-breadcrumb.html" class="nav-link">Breadcrumb</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-nav.html" class="nav-link">Navs</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-collapse.html" class="nav-link">Collapse</a></li>
                                    <li class="nav-item"><a href="snippet-icon-blocks.html" class="nav-link">Icon Blocks</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-card.html" class="nav-link">Card</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-form.html" class="nav-link">Forms</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-blog.html" class="nav-link">Blog</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-tables.html" class="nav-link">Tables</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-pricing.html" class="nav-link">Pricing</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-team.html" class="nav-link">Team</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-images.html" class="nav-link">Image Section</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-clients.html" class="nav-link">Clients</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-comments.html" class="nav-link">Comments</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-reviews.html" class="nav-link">Reviews & Feedback</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-user.html" class="nav-link">User Profile</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-ecommerce.html" class="nav-link">Ecommerce</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-sidebar.html" class="nav-link ">Sidebar</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-account.html" class="nav-link">Account</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-testimonials.html" class="nav-link">Testimonials</a>
                                    </li>
                                    <li class="nav-item"><a href="snippet-video.html" class="nav-link">Video</a>
                                    </li>


                                <li>
                                    <div class="navbar-border"></div>
                                  </li>
                                  <li class="navbar-header mt-0">
                                    <h5 class="heading">Components</h5>
                                  </li>
                                <li class="nav-item">
                                    <a href="accordion.html" class="nav-link">
                                        Accordion
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="alerts.html" class="nav-link ">
                                        Alerts
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="badge.html" class="nav-link">
                                        Badge
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="breadcrumb.html" class="nav-link">
                                        Breadcrumb
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="buttons.html" class="nav-link">
                                        Buttons
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="button-group.html" class="nav-link">
                                        Button group
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="card.html" class="nav-link">
                                        Card
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="carousel.html" class="nav-link">
                                        Carousel
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="collapse.html" class="nav-link">
                                        Collapse
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="close-button.html" class="nav-link">
                                        Close Button
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="dropdowns.html" class="nav-link">
                                        Dropdowns
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="forms.html" class="nav-link">
                                        Forms
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="input-group.html" class="nav-link">
                                        Input group
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="list-group.html" class="nav-link">
                                        List group
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="modal.html" class="nav-link">
                                        Modal
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="navs.html" class="nav-link">
                                        Navs
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="navbar.html" class="nav-link">
                                        Navbar
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="offcanvas.html" class="nav-link">
                                      Offcanvas
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a href="pagination.html" class="nav-link">
                                      Pagination
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a href="placeholders.html" class="nav-link">
                                      Placeholders
                                    </a>
                                  </li>
                                <li class="nav-item">
                                    <a href="popovers.html" class="nav-link">
                                        Popovers
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="progress.html" class="nav-link">
                                        Progress
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="scrollspy.html" class="nav-link">
                                        Scrollspy
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="spinners.html" class="nav-link">
                                        Spinners
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="tables.html" class="nav-link">
                                        Tables
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="toasts.html" class="nav-link">
                                        Toasts
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="tooltips.html" class="nav-link">
                                        Tooltips
                                    </a>
                                </li>
                                <li>
                                    <div class="navbar-border"></div>
                                  </li>
                                  <li class="navbar-header mt-0">
                                    <h5 class="heading">Utilities</h5>
                                  </li>

                                <li class="nav-item"><a href="colors.html" class="nav-link">Colors</a></li>
                                <li class="nav-item"><a href="fonts.html" class="nav-link">Fonts</a></li>
                                <li class="nav-item"><a href="typography.html" class="nav-link">Typography</a>

                                </li>
                                <li class="nav-item"><a href="background.html" class="nav-link">Background</a></li>
                                <li class="nav-item"><a href="borders.html" class="nav-link"> Borders </a></li>
                                <li class="nav-item"><a href="colored-links.html" class="nav-link"> Colored Links </a></li>
                                <li class="nav-item"><a href="opacity.html" class="nav-link"> Opacity </a></li>
                                <li class="nav-item"><a href="ratio.html" class="nav-link"> Ratio </a></li>
                                <li class="nav-item"><a href="stacks.html" class="nav-link"> Stacks </a></li>
                                <li class="nav-item"><a href="shadows.html" class="nav-link"> Shadows </a></li>

                                <li class="nav-item"><a href="text.html" class="nav-link"> Text </a></li>
                                <li class="nav-item"><a href="text-truncation.html" class="nav-link"> Text truncation </a></li>
                                <li class="nav-item"><a href="vertical-rule.html" class="nav-link"> Vertical rule </a></li>




                </ul>
            </div>
        </nav>
    </div>
</div>