    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="docs-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <p>Design & Developed by <a href="https://codescandy.com"
                            target="_blank">Codescandy</a></p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="text-md-end docs-footer-links d-none d-sm-block">
                        <a href="https://codescandy.com/contact-us/" target="_blank">Support</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->