 <!-- navigation start -->
 <nav class="navbar navbar-expand-lg @@classList">
     <div class="container">
         <a class="navbar-brand" href="@@webRoot/index.html"><img src="@@webRoot/assets/images/yoga/coach-yoga.svg"
                 alt=""></a>
         <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
             data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
             aria-label="Toggle navigation">
             <span class="icon-bar top-bar mt-0"></span>
             <span class="icon-bar middle-bar"></span>
             <span class="icon-bar bottom-bar"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbar-default">
             <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                 data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                 aria-label="Toggle navigation">
                 <i class="fas fa-times"></i>
             </button>
             <ul class="navbar-nav ms-auto me-lg-3 ">
                 <li class="nav-item dropdown disabled">
                     <a class="nav-link d-lg-none" href="#">
                         Menu
                     </a>
                 </li>
                 <li class="nav-item">
                     <a href="../yoga/index.html" class="nav-link">Home</a>
                 </li>
                 <li class="nav-item">
                     <a href="../yoga/yoga-courses-list.html" class="nav-link">Courses</a>
                 </li>
                 <li class="nav-item">
                     <a href="#" class="nav-link">Events</a>
                 </li>
                 <li class="nav-item">
                     <a href="#" class="nav-link">Blog</a>
                 </li>
                 <li class="nav-item">
                     <a href="#" class="nav-link">About</a>
                 </li>
                 <li class="nav-item">
                     <a href="#" class="nav-link">Contact</a>
                 </li>

             </ul>
             <div class="ms-auto d-none d-lg-block ">
                 <a href="https://bit.ly/38DGpi8 " class="btn btn-secondary btn-sm ">Book Now</a>
             </div>

         </div>
     </div>
 </nav>