<nav class="navbar navbar-expand-lg @@classList">
    <!-- navigation start -->
    <div class="container">
        <div id="act-per-logo" style="width: 25%;">
            <a class="navbar-brand @@brandLogo" href="index.html">
                <img src="assets/images/act-logo.png" alt="Logo" width="300">
            </a>
        </div>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="icon-bar top-bar mt-0"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-times"></i>
            </button>
            <ul class="navbar-nav ms-auto me-lg-3 custom-menu">
                <li>
                    <a class="nav-link" href="index.html#cine-suntem" id="menu-1" aria-haspopup="true"
                        aria-expanded="false" data-bs-display="static">
                        Despre
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="index.html#testimoniale" id="menu-2" aria-haspopup="true"
                        aria-expanded="false" data-bs-display="static">
                        Povesti de success
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="index.html#coaching" id="menu-3" aria-haspopup="true"
                        aria-expanded="false" data-bs-display="static">
                        Coaching
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="index.html#nlp" id="menu-4" aria-haspopup="true" aria-expanded="false"
                        data-bs-display="static">
                        Cursuri NLP
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="echipa.html" id="menu-5" aria-haspopup="true" aria-expanded="false"
                        data-bs-display="static">
                        Echipa
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="index.html#certificari" id="menu-6" aria-haspopup="true"
                        aria-expanded="false" data-bs-display="static">
                        Certificari
                    </a>
                </li>
                <li>
                    <div class="header-btn ">
                        <a href="contact.html" class="btn btn-primary btn-sm ">Contacteaza-ne</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>